body {
    background: #FDFFDB;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}

/* Header */
.container {
    background-color: #fcdf80;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px;
}
.container h1 u a{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: black;
}
.container h1:hover {
    cursor: pointer;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
.container h2:hover {
    cursor: pointer;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
}
.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 90%; 
    padding: 0; 
    margin: 0; 
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 15px;
    padding-right: 0px;
    transition: color 0.3s ease-in-out;
}

/* Recipes */

.bg {
    background-image: url("images/wooden wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
}

.rec {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 94%; 
    padding: 10px 10px;
    margin: 10px; 
    margin-bottom: 0px;
}
.rec li {
    position: relative;
}
.rec > li > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    transition: color 0.3s ease-in-out;
    backdrop-filter: blur(2px); 
}
.rec > li:hover {
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out; 
}
.rec > li > a:hover {
    background-color: transparent; 
}
.rec li:hover > .dropdown{
    display: block; 
}

.dropdown {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    list-style: none;
    min-width: 150px;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.dropdown li {
    padding: 5px 20px;
}
.dropdown li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    display: block;
    transition: color 0.01s ease-in-out;
}
.dropdown li a:hover {
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
}
hr.custom{
    border: 0;
    height: 5px;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: 30px;
    width: 92%;
}
.recipeword {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    font-size: 28px;
    padding: 5px 15px;
    backdrop-filter: blur(2px); 
}
.allrecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 10px;
    margin: 10px;
    column-gap: 110px;
    row-gap: 30px;
}
.recipeimg {
    padding: 0;
    margin: 0;
}
.recipeimg img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.recipebox {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid #7b3f00;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin: 10px; 
}

.recipetext {
    margin-top: 8px; 
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipeimg, .recipetext {
    position: relative;
    z-index: 1;
}

/* Upload Recipes */
.block {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    width: 550px;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    border: 3px solid #7b3f00;
}
.uploadbg {
    background-image: url("images/up recipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
}
.uploadbody {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 10px 10px;
    margin: 10px; 
}
.uploadbody h2 {
    justify-content: center;
}
